rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /config/secrets {
      // ONLY allow reading if the user is logged in, and their UID is inside the approvedUsers array
      allow read: if request.auth != null && (request.auth.uid in resource.data.approvedUsers);
      allow write: if false; 
    }
    
    // Allow each user to read and write their own sync data
    match /users/{userId}/{document=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
    // Default fallback
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
